{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta(name='viewport', content='width=device-width, initial-scale=1')>
        <meta(name='description', content='')>
        <meta(name='author', content='')>
        <link href="{% static 'ref/bs/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'ref/bs/icon/bootstrap-icons.css' %}" rel="stylesheet">
        <link href="{% static 'ref/bs/css/styles.css' %}" rel="stylesheet"> <!--core stylesheet-->
        <link href="{% static 'ref/bs/icon/favicon.ico' %}" rel="icon" >
        <script src="{% static 'ref/bs/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'ref/bs/js/bootstrap.bundle.min.js' %}"></script> <!-- Bootstrap core JS-->

        <title>{% block title %}Default title{% endblock title %}</title>
    </head>
        <body>
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container px-4 px-lg-5">
                    <a class="navbar-brand" href="{% url 'main' %}">MegaReader: Online book store</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-shop-window"></i> Shop</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/bookview/list_book_us/">All Products</a></li>
                                    <li><hr class="dropdown-divider" /></li>
                                    <li><a class="dropdown-item" href="/bookview/list_book_na/">New Arrivals</a></li>
                                    <li><a class="dropdown-item" href="/bookview/list_book_sl/">Goods on Sale</a></li>
                                </ul>
                            </li>
                            {% if user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link active" aria-current="page" >Welcome, <i>{{ user.username }}</i></a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person-circle"></i> User</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="{% url 'logout' %}">LogOut</a></li>
                                    <li><hr class="dropdown-divider" /></li>
                                    <li><a class="dropdown-item" href="#">User Profile (TBD)</a></li>
                                </ul>
                            {% else %}
                            <li class="nav-item"><a class="nav-link active" aria-current="page">Welcome to the shop!</a></li><li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'loginpage:login' %}"><i> Please <b>log in.</b></i></a></li>
                            {% endif %}
                            {% if perms.contenttypes.change_contenttype %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-gear-wide-connected"></i> Admin Screens</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/admin">Django Admin</a></li>
                                    <li><hr class="dropdown-divider" /></li>
                                    <li><a class="dropdown-item" href="/bookview/list_book/">Book List Management</a></li>
                                    <li><a class="dropdown-item" href="/bookview/add_book/">Add New Book</a></li>
                                    <li><a class="dropdown-item" href="/reflib/list_aut/">Authors List Management</a></li>
                                    <li><a class="dropdown-item" href="/reflib/add_aut/">Add New Author</a></li>
                                    <li><a class="dropdown-item" href="/reflib/list_pub/">Publishers Management</a></li>
                                    <li><a class="dropdown-item" href="/reflib/add_pub/">Add New Publisher</a></li>
                                </ul>
                            </li>
                            {% endif %}
                            
                        </ul>
                        <form class="d-flex" action="{% url 'cartview:cart' %}" method="get">
                            <button class="btn btn-outline-dark" type="submit">
                                <i class="bi bi-cart-check"></i>
                                User Cart
                            </button>
                        </form>
                    </div>
                </div>
            </nav>
            <div class="container">
                {% block body  %} Page Body {% endblock body %}
            </div><br>
        
            <!-- Footer-->
            <footer class="py-5 bg-dark">
                <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Django Book Store 2022</p></div>
            </footer>
        <!-- Core theme JS-->
            <script src="{% static 'ref/bs/js/scripts.js' %}"></script>
        </body>
</html>