{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Order success
{% endblock title %}

{% block body %}
    <h1> Congrats with successful registration!</h1>
    <p>Please feel free to<a href="{% url 'loginpage:login' %}"> log in</a></p>
    <div class="card mb-3" style="max-width: 1240px;">
        <div class="row g-0">
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    </body>
{% endblock body %}