{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Email Sent
{% endblock title %}
{% block body %}
        </head>
        <body>
        <h1>Check your inbox.</h1>
        <br>
        <br>
        <br>
        <div class="card mb-3" style="max-width: 620px;">
              <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
        </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </body>
{% endblock body %}