{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Forgot Password
{% endblock title %}
{% block body %}
        </head>
        <body>
        <h1>Forgot Your Password?</h1>
        <br>
        <br>
        <br>
        <div class="card mb-3" style="max-width: 620px;">
            <p>Enter your email address below, and we'll email instructions for setting a new one.</p>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Send me instructions!">
  </form>
        </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </body>
{% endblock body %}