{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
New Password
{% endblock title %}
{% block body %}
        </head>
        <body>
        <h1>Set a new password!</h1>
        <br>
        <br>
        <br>
        <div class="card mb-3" style="max-width: 620px;">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Change my password">
            </form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </body>
{% endblock body %}