{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Delete Author
{% endblock title %}

{% block body %}
<body>
    <h1>Delete</h1>
    Are you really want to delete the Author with <b>PK{{ object.pk }}</b> and Name <b>{{ object.auth_name }}</b>?
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-outline-danger mt-auto" value="Press the button to Confirm">
    </form>
    <br>

                <form class="d-flex" action="{% url 'reflib:list_author' %}" method="get">
                    <button class="btn btn-outline-secondary" type="submit"> Cancel </button>
                </form>
</body>
{% endblock body %}