<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Authors</title>
</head>
<body>
    <h1>List of Authors</h1>
    <table border="1" cellpadding = "5" cellspacing = "5">
        <tr>
            <b>
                <th>PK</th>
                <th>Author</th>
                <th>Origination</th>
                <th>Note</th>
                <th>Delete?</th>
            </b>
          
        </tr>
    {% for obj in object_list %}

    <tr>
        <td><a href="{% url 'upd_author' pk=obj.pk %}">{{ obj.pk }}</a></td>
        <td>{{ obj.auth_name }}</td>
        <td>{{ obj.auth_country }}</td>
        <td>{{ obj.auth_note }}</td>
        <td><a href="{% url 'del_author' pk=obj.pk %}">DELETE</a></td>
    </tr>
    
    {% endfor %}
    </table>

    </form>
</body>
</html>