{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
All Authors
{% endblock title %}

{% block body %}
</head>
<body>
    <h1 style ="text-align:center;">List of Authors</h1><br>
<div class="container">

    <table class="table table-striped table-hover">
        <tr>
            <b>
                <th>PK</th>
                <th>Author</th>
                <th>Origination</th>
                <th>Note</th>
                <th><i class="bi bi-trash"></th>
            </b>
          
        </tr>
    {% for obj in object_list %}

    <tr>
        <td><a href="{% url 'reflib:upd_author' pk=obj.pk %}"><button type="button" class="btn btn-outline-warning mt-auto"><b><i class="bi bi-pencil"></i>{{ obj.pk }}</button></b></button></a></td>
        <td>{{ obj.auth_name }}</td>
        <td>{{ obj.auth_country }}</td>
        <td>{{ obj.auth_note }}</td>
        <td><a href="{% url 'reflib:del_author' pk=obj.pk %}"><button type="button" class="btn btn-outline-danger mt-auto"><i class="bi bi-trash"></i></button></a></td>
    </tr>
    
    {% endfor %}
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
 </div>   
    </form>
{% endblock body %}