<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Publishers</title>
</head>
<body>
    <h1>List of Publishers</h1>
    <table border="1" cellpadding = "5" cellspacing = "5">
        <tr>
            <b>
                <th>PK</th>
                <th>Publisher Name</th>
                <th>Publisher Origin</th>
                <th>Note</th>
                <th>Delete?</th>
            </b>
          
        </tr>
    {% for obj in object_list %}

    <tr>
        <td><a href="{% url 'reflib:upd_publisher' pk=obj.pk %}">{{ obj.pk }}</a></td>
        <td>{{ obj.pub_name }}</td>
        <td>{{ obj.pub_country }}</td>
        <td>{{ obj.pub_note }}</td>
        <td><a href="{% url 'reflib:del_publisher' pk=obj.pk %}">DELETE</a></td>
    </tr>
    
    {% endfor %}
    </table>

    </form>
</body>
</html>