{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
All Publishers
{% endblock title %}

{% block body %}
</head>
<body>
    <h1 style ="text-align:center;">List of Publishers</h1><br>
<div class="container">

    <table class="table table-striped table-hover">
        <tr>
            <b>
                <th>PK</th>
                <th>Publisher Name</th>
                <th>Publisher Origin</th>
                <th>Note</th>
                <th>Delete?</th>
            </b>
          
        </tr>
    {% for obj in object_list %}

    <tr>
        <td><a href="{% url 'reflib:upd_publisher' pk=obj.pk %}"><button type="button" class="btn btn-warning"><b><i class="bi bi-pencil"></i>{{ obj.pk }}</b></button></a></td>
        <td>{{ obj.pub_name }}</td>
        <td>{{ obj.pub_country }}</td>
        <td>{{ obj.pub_note }}</td>
        <td><a href="{% url 'reflib:del_publisher' pk=obj.pk %}"><button type="button" class="btn btn-danger"><b>Delete<i class="bi bi-x-lg"></i></b></button></a></td>
    </tr>
    
    {% endfor %}
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
</div>>    
    </form>
</body>
{% endblock body %}