{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Delete Cart
{% endblock title %}
</head>
{% block body %}
<body>
    <h1>Delete Cart</h1>
    Are you really want to delete the Cart with <b>PK{{ object.pk }}</b> and User Name <b>{{ object.user }}</b> created {{ object.created_at }}</b>?
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-success" value="Press the button to Confirm">
    </form>
</body>
{% endblock body %}