{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Delete Position
{% endblock title %}
</head>
{% block body %}
<body>
    <h1>Delete Position?</h1>
    Are you really want to delete the Item with <b>PK{{ object.pk }}</b> and Name <b>{{ object.book }}</b>?
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-outline-success mt-auto">Press the button to Confirm</button>
    </form>
</body>
{% endblock body %}