{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Order success
{% endblock title %}

{% block body %}
    <h1> Your order was placed successfully!</h1>
    We will keep you posted about processing and delivery progress
    <div class="card mb-3" style="max-width: 1240px;">
        <div class="row g-0">
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    </body>
{% endblock body %}